page-add-receipt {
    
}


.toast-md  .toast-message {
    background: #197278;
}

.toastrSuccess .toast-message {
    background: #00CECB;
}

.toastrFail .toast-message {
    background: rgb(209, 71, 71);
}