
<ion-header>
    <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="contact" color="primary"></ion-icon>
      </button>
      <ion-title>History</ion-title>
    </ion-navbar>
  </ion-header>

<ion-content padding>
  <ion-item style="text-align: center">
      <ion-icon>Filtering Options: </ion-icon>
      <ion-icon (click)="filterByCal()" name="calendar" padding-left></ion-icon>
      <ion-icon name="cart" padding-left></ion-icon>
      <ion-icon name="create" padding-left></ion-icon>
  </ion-item>

  <!-- <ion-item>
    <img src="">
  </ion-item> -->

  <!-- This has to do with adding the cards -->

  <ion-list style="text-align: center" *ngFor="let r of reciepts">
    <!-- <ion-item style="text-align: center" *ngFor="let r of reciepts"> -->
        <button ion-button full style="background:#BCDFE5; color:black; font-size:15px; height:45px" (click)=displayReciept(r)>
            <p style="color: black" *ngIf="r.sharedWith == ''; else shared"> 
              <ion-icon name="person"></ion-icon>
                {{r.recieptID}} &nbsp; {{r.store}} &nbsp;  ${{r.amount}}
            </p>
            <ng-template #shared>
                <ion-icon name="people"></ion-icon>
                {{r.recieptID}} &nbsp;  {{r.store}} &nbsp;  ${{r.amount}}
            </ng-template>
          </button>
    <!-- </ion-item> -->
  </ion-list>

  <button 
        ion-button 
        full 
        style="background:#d0e0e3; color:black; font-size:15px; height:45px" 
        (click)=home()
    >
        Back Home
    </button>
    
</ion-content>

